<div id="home-screen-container">
  <div class="header">
    <a href="{{OMILIA_INVITATION_URL}}">
      <button mat-button class="get-started-button">
        <img class="btn-icon" src="https://firebasestorage.googleapis.com/v0/b/omilia-7adde.appspot.com/o/media%2FDiscord-Logo.png?alt=media">
        Get Started
      </button>
    </a>
    <a href="https://github.com/DrOsmium/Omilia">
      <img src="https://firebasestorage.googleapis.com/v0/b/omilia-7adde.appspot.com/o/media%2Fgithub-logo.png?alt=media"
           class="github-logo"/>
    </a>
  </div>
  <img id="home-screen-logo" src="assets/logo.svg">
  <div class="main-section">
    <div class="presentation-slogan">
      <h1>Omilia</h1>
      <h2>Conversation metrics tracker</h2>
    </div>
    <img src="https://firebasestorage.googleapis.com/v0/b/omilia-7adde.appspot.com/o/media%2Fomilia%20usage%20screenshot.png?alt=media" class="example-screenshot">
    <div class="explanation">
      <h2>What it does</h2>
      <span>Omilia keeps track of how much time each participant in a conversation has been talking.</span>
      <span>The goal of Omilia is to give everyone a chance to speak.</span>
    </div>
    <div class="explanation">
      <h2>How to use it</h2>
      <span>Just invite the discord bot for Omilia to your discord server.</span>
      <span>For now, Discord is the only instant messaging platform that is supported.</span>
      <a href="{{OMILIA_INVITATION_URL}}">
        <button mat-button class="get-started-button">
          <img class="btn-icon" src="https://firebasestorage.googleapis.com/v0/b/omilia-7adde.appspot.com/o/media%2FDiscord-Logo.png?alt=media">
          Get Started
        </button>
      </a>
    </div>
  </div>
</div>
